<div class="p-6">
  <a href="/" class="text-white flex items-center">
    <img src="/icon.svg" alt="RailsRush logo" class="h-10 mr-2">
    <span class="font-bold text-xl">
      RailsRush
    </span>
  </a>
</div>

<nav class="p-3">
  <hr class="mt-4 mb-4">

  <a href="#" class="nav-link">
    <i class="fa-solid fa-house"></i>
    <span>Dashboard</span>
  </a>

  <a href="#" class="nav-link">
    <i class="fa-solid fa-people-group"></i>
    <span>Team<span>
  </a>

  <a href="#" class="nav-link">
    <i class="fa-solid fa-receipt"></i>
    <span>Billing</span>
  </a>

  <a href="#" class="nav-link">
    <i class="fa-solid fa-gear"></i>
    <span>Settings</span>
  </a>

  <hr class="mt-4 mb-4">

  <a href="#" class="nav-link">
    <i class="fa-solid fa-rocket"></i>
    <span>Feedback</span>
  </a>

  <a href="#" class="nav-link">
    <i class="fa-solid fa-life-ring"></i>
    <span>Help and Docs</span>
  </a>
</nav>